.score-button {
  color: white;
  background-color: #085BC2;
  height: 33px;
  width: 33px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-buttons {
  display: flex;
}

.main-button {
  border: none;
  text-align: center;
  width: 250px;
  padding: 10px;
  display: block;
  margin: 10px auto;
  background: #085BC2;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.fixed-button {
  position: fixed;
  bottom: 25px;
  left: 50%;
  margin-left: -125px;
}

.event-button {
  border: none;
  text-align: center;
  width: 250px;
  padding: 10px;
  display: block;
  margin: 10px auto;
  background: #5500a1;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.logout-button {
  border: none;
  text-align: center;
  width: 250px;
  padding: 10px;
  display: block;
  margin: 10px auto;
  background: #d55900;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  font-weight: 800;
}
