.event-banner {
  h1 {
    font-family: "Viking";
    text-align: center;
    font-size: 50px;
  }

  img {
    width: 60%;
    display: block;
    margin: auto;
  }
}

.events-container {
  margin-bottom: 50px;

  h1 {
    text-align: center;
    margin: 25px auto;
  }
}

.home-content {
  padding-top: 50px;

  img {
    margin: auto;
    display: block;
    width: 80%;
  }
}

.main-content {
  background-image: linear-gradient(to bottom, rgba(255,255,255,.4), rgba(255,255,255,.6)), asset-url('home-background.jpg');
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll;
  background-position: 16%;
  height: 100vh;
}
