.new_player {
  width: 300px;
  padding: 15px;
  margin: 25px auto;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .4);

  .form-group {
    display: flex;
    justify-content: space-between;
  }

  input[type="submit"] {
    border: none;
    padding: 10px;
    display: block;
    margin: auto;
    background: #085BC2;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 800;
  }

  input {
    width: 200px;
  }

  select {
    width: 200px;
  }
}

.search-form {
  input {
    text-align: center;
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 45px;
    padding: 10px;
    border: 2px solid rgb(190, 190, 190);
  }

  input[type=submit] {
    margin-top: 290px;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    background: #085BC2;
    color: white;
    font-size: 18px;
    font-weight: 800;
  }
}
