.player-icon {
  position: relative;

  img {
    width: 55px;
    margin-right: 10px;
  }


  .place-circle {
    background-color: rgb(189, 189, 189);
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    top: 36px;
    left: 32px;
  }

  .place-circle.gold {
    background-color: #FFD600;
  }
  .place-circle.silver {
    background-color: #A6A6A6;
  }
  .place-circle.bronze {
    background-color: #F6A546;
  }
}

.player-list {
  width: 100%;
  padding: 4px;
  margin: 10px 0 70px 0;

  .player-item {
    display: flex;
    align-items: center;
    padding: 8px;



    .player-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center;

      .small-faded {
        font-size: 16px;
        opacity: .7;
      }

      h3 {
        font-size: 20px;
        margin: 0;
      }

      .score-info {
        margin-top: 4px;
        min-width: 65px;
      }
    }
  }
}

.winner-banner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 160px;
  padding: 10px;

  .player-icon {
    margin: 10px 20px;
  }

  .player-info {
    width: 100%;
    text-align: center;

    .small-faded {
      font-size: 16px;
      opacity: .7;
    }

    h3 {
      font-size: 20px;
      margin: 0;
    }

    .score-info {
      margin-top: 4px;
      min-width: 65px;
    }
  }

  .center-card {
    margin-bottom: 30px;
  }
}

.admin-options {
  margin-bottom: 150px;
}
